@using WebApplication1.Models
<div>
    @(Employee emp = (Employee)ViewData["Employee"])

    <b>Employee Details </b><br />
    Employee Name : @emp.FirstName@emp.LastName <br />
    Employee Salary: @emp.Salary.ToString("C")
</div>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <p style=" background-color:black ;color:rgb(204,255,102);">Bienvenido a MVC this is my new View LMP</p>
</body>
</html>
